name: build-docker

on:
  workflow_dispatch:
    inputs:
      dockerfile:
        type: string
        description: path to the Dockerfile in the repo
        required: true
      namespace:
        type: string
        description: namespace on dockerhub, e.g. nciccbr
        required: true
      image_name:
        type: string
        description: container image name, e.g. ccbr_toolname
        required: true
      version:
        type: string
        description: container version tag. e.g. 1.0.0
        required: true
      push:
        type: boolean
        description: Push to DockerHub
        required: true

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to DockerHub
        if: ${{ github.event.inputs.push }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Prepare build-time variables
        id: vars
        run: |
            echo "CONTEXT=$(dirname ${{ github.event.inputs.dockerfile }})" >> GITHUB_OUTPUT
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ${{ steps.vars.outputs.CONTEXT }}
          file: ${{ github.event.inputs.dockerfile }}
          push: ${{ github.event.inputs.push }}
          tags: ${{ github.event.inputs.namespace }}/${{ github.event.inputs.image_name }}:${{ github.event.inputs.version }}
          build-args: |
            BUILD_DATE=$(date +"%Y-%m-%d")
            BUILD_TAG=${{ github.event.inputs.version }}
            REPONAME=${{ github.event.inputs.image_name }}
