name: docker

on:
  push:
    paths:
      - .github/workflows/docker.yml
      - "docker/*/meta.yml"
  workflow_dispatch:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix-metadata: ${{ steps.metadata.outputs.matrix }}
    steps:
    - uses: hellofresh/action-changed-files@v3
      id: metadata
      with:
        pattern: docker/(?P<image_dir>[^/]+)
        default-patterns: |
          meta.yml
          Dockerfile
          docker/*/*
  
  update-docker:
    needs: [ generate-matrix ]
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix-metadata) }}
    if: ${{ fromJson(needs.generate-matrix.outputs.matrix-metadata).include[0] }} # skip if the matrix is empty!
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pietrobolcato/action-read-yaml@1.0.0
        id: metadata
        with:
          config: ${{ github.workspace }}/docker/${{ matrix.image_dir }}/meta.yml
      - name: echo meta
        if: ${{ steps.metadata.outputs['container'] != '' }}
        run: |
          echo "metadata exists! ${{ steps.metadata.outputs['container'] }}"
      - name: echo files
        run: |
          echo "image dir ${{ matrix.image_dir }}"
