name: build-docker

on:
  push:
    paths:
      - "r.sandbox/**"
      - '.github/workflows/r-pkg-docker.yml'
  release:
    types: [published]

env:
  IMAGE_NAME: "r.sandbox"
  CONTEXT: "r.sandbox"
  NAMESPACE: "kelly-sovacool"


jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
      - name: Prepare build-time variables
        id: vars
        run: |
            echo "DATE=$(date +"%Y-%m-%d")" >> "$GITHUB_OUTPUT"
            echo "VERSION=$(Rscript -e "cat(r.sandbox::get_docker_version('${{ github.event_name }}', '${{ github.ref_name }}'))")" >> "$GITHUB_OUTPUT"
      - name: debug
        run: |
            echo "the github tag is ${{ github.ref_name }}"
            echo "github event_name is ${{ github.event_name }}"
            echo "the version tag is ${{ steps.vars.outputs.VERSION }}"

      # - name: Login to DockerHub
      #   if: ${{ github.event_name != 'pull_request' }}
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}
      # - name: Build and push
      #   uses: docker/build-push-action@v4
      #   with:
      #     push: ${{ github.event_name != 'pull_request' }}
      #     tags: $NAMESPACE/$IMAGE_NAME:${{ steps.vars.outputs.VERSION }}
      #     build-args: |
      #       BUILD_DATE=${{ steps.vars.outputs.DATE }}
      #       BUILD_TAG=${{ steps.vars.outputs.VERSION }}
      #       REPONAME=$IMAGE_NAME
